.promotion {
  min-height: calc(100vh - var(--header-height));
  background-color: #75f7f9;
  padding: 3rem;
}
.promotion-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border: 9px solid #fe8ec8;
}
.promotion-text {
  padding: 9rem 5rem;
  text-align: center;
  h3 {
    font-size: 3.5rem;
    padding-bottom: 2rem;
  }
  p {
    font-size: 2.8rem;
    font-size: 400;
  }
  h1 {
    font-size: 7rem;
    font-weight: 500;
    span {
      font-size: 9rem;
      font-size: 700;
      color: #fe8ec8;
    }
  }
}
.promotion-img {
  padding-top: 5rem;
  transform: rotate(15deg);
  width: 21rem;
  img {
    width: 100%;
    object-fit: cover;
  }
}
